div, body {
border: 0px solid black;
word-wrap: break-word;
margin: 0px 0px 0px 0px;
}

.question {
 font-weight: 900;
 color: black;
}

.answer {
  padding-bottom: 25px;
  padding-top 0px;
}

.top_blue_bar {
content: '';
left: 0;
height: 49px;
width: 100%;
background-image: url({{ secure_asset('images/bg_pattern_coloured.png') }});
}

.logo_title_bar {
background-image: url({{ secure_asset('images/nzta_logo.png') }});
background-repeat: no-repeat;
height: 49px;
padding-left: 175px;
margin-left: 25px;
margin-top: 10px;
vertical-align: top;
margin-bottom: 25px;
}

.logo_text, .logo_sub_text {
color: rgb(0, 64, 113);
font-family: Montserrat, sans-serif ;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 20px;
}

.logo_sub_text {
font-size: 12px;
}

.response_row {
width: 100px;
display: block;
margin-top: 10px;
padding-left: 10px;
}

.question, .answer {
font-family: Montserrat, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 900;

}

.answer {
font-weight: 300;
}

.no_answer {
font-style: italic;
}

.copyright {
 color: #FFF;
 margin-left: 25px;
 padding-top: 10px;
}